@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,
#root {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1667%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1668)'%3e%3c/rect%3e%3cpath d='M1143.54 1278.87C1363.57 1181.45 1407.4 489.61 1690.77 487.04 1974.15 484.47 2056.61 948.7 2238.01 983.84' stroke='rgba(255%2c 0%2c 0%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M289.49 1138.52C567.35 1112.1 699.43 554.13 1223.46 526.79 1747.48 499.45 1908.52 186.67 2157.42 181.19' stroke='rgba(255%2c 0%2c 0%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1330.55 1290.07C1546.15 1154.21 1545.08 407.19 1816.29 393.9 2087.5 380.61 2145.23 778.08 2302.03 804.3' stroke='rgba(255%2c 0%2c 0%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M823.48 1240.15C997.8 1191.02 892.48 730.33 1309.6 703.04 1726.73 675.75 2028.87 425.03 2281.85 422.24' stroke='rgba(255%2c 0%2c 0%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M723.66 1221.03C913.38 1145.51 769.65 611.09 1209.24 564.23 1648.83 517.37 1922.75 223.73 2180.4 218.63' stroke='rgba(255%2c 0%2c 0%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1667'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1668'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(237%2c 237%2c 237%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(244, 244, 244);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
  --light-cyan: rgb(24 255 255 / 12%);
  --cyan: rgb(24 255 255 / 50%);
  --header-height: 40px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid #00000010;
  box-shadow: 0 1px 10px 5px #00000005;
  padding: 0 .5rem;
  height: var(--header-height);
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0;
}

.menu-icon {
  width: 25px;
  height: 25px;
  fill: var(--medium-gray);
  cursor: pointer;
}

.menu-icon:hover {
  fill: var(--dark-gray);
}

.sidebar {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 10px 5px 5px #00000005;
  flex-shrink: 0;
  overflow: hidden;
  width: 75px;
  border-right: 2px solid #00000010;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: var(--header-height);
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.sidebar .top-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar . project-logo {
  display: block;
  width: 30px;
  height: 30px;
  transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open . project-logo {
  width: 90px;
  height: 90px;
}

.sidebar . project-logo>img {
  width: 100%;
  height: 100%;
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
  width: 100%;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
}

.content {
  width: 100%;
  margin: 2rem;
}

.panel {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 5px 5px #00000005;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar.open .sidebar-link {
  justify-content: flex-start;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
  margin-left: 1.5rem;
  white-space: nowrap;
}

.sidebar-link {
  display: flex;
  width: 100%;
  padding: .5rem 0;
  color: var(--light-gray);
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
}

.sidebar-list-item {
  position: relative;
  width: 100%;
  fill: var(--light-gray);
}

.sidebar-list-item.active {
  fill: var(--accent-color);
  background-color: var(--lightest-gray);
}

.sidebar-list-item:hover {
  background-color: var(--lightest-gray);
}

.sidebar-list-item.active::before {
  content: "";
  background-color: var(--accent-color);
  height: 100%;
  left: 0;
  width: 3px;
  position: absolute;
}

.sidebar.open {
  width: 200px;
}

.your-project {
  color: var(--dark-gray);
  font-size: .75rem;
  font-weight: bold;
  margin-bottom: .15rem;
  margin-top: .5rem;
}

.project-name {
  color: var(--medium-gray);
  font-size: .75rem;
}

.sidebar .top-sidebar {
  height: 30px;
  transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
  height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
  text-align: center;
  width: 100%;
}

.cards {
  text-align: center;
  width: 10rem;
  height: 100%;
  background: var(--medium-gray);
}

.card {
  background: white !important;
  width: 240px;
  height: 135px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #00000010 !important;
  display: inline-block;
  transition: 0.1s ease-in-out all;
}

.card:hover {
  background-color: whitesmoke !important;
}

.card-link {
  text-decoration: none;
}

.card-body {
  height: 100%;
}

.card-svg {
  display: block;
  margin: 0 auto;
  height: 80%;
}

.card-title {

  width: 100%;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #e5e5e5;
}

th {
  background: var(--light-cyan);
  border: 1px solid gray;
  font-weight: bold;
}

.button {
  border-radius: 25px;
  padding: 7px 40px;
  background-color: #acecf9;
  color: black;
  text-decoration: none;
  transition: 0.1 ease-in-out all;
}

.button-red {
  border-radius: 25px;
  padding: 7px 40px;
  background-color: #ff0000;
  color: black;
  text-decoration: none;
  transition: 0.1 ease-in-out all;
}

.button-green {
  border-radius: 25px;
  padding: 7px 40px;
  background-color: green;
  color: black;
  text-decoration: none;
  transition: 0.1 ease-in-out all;
}

.button-green:hover {
  background: darkgreen;
  color: white;
}

.button-red:hover {
  background: #c70000;
  color: black;
}

.button:hover {
  background: #4799a9;
  color: white;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logout {
  background: none;
  border: none;
  outline: 1px solid white;
  transition: 0.2s ease-in-out all;
}

.logout:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  outline: 1px solid black;
}

.username {
  font-style: italic;
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 30px #00000055;
}

.site-title {
  text-align: center;
  overflow: hidden;
  letter-spacing: 2px;
  padding: 30px 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

.loading:after {
  position: absolute;
  z-index: 1000;
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading:before {
  position: absolute;
  z-index: 1000;
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.auth-alert {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  text-align: center;
  animation: fadeout 10s;
  transition: 0.2 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.card:hover {
  box-shadow: none;
  background-color: white;
}

.limit-chart {
  width: 400px;
  height: 215px;
}
.limit-chart-canvas-container {
  height: 90%;
}

.bar-chart {
  width: 600px;
  height: 335px;
}
.bar-chart-canvas-container {
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .bar-chart {
    width: 300px;
    height: 200px;
  }
  .bar-chart-canvas-container {
    height: 100%;
  }
  .limit-chart {
    width: 200px;
    height: 150px;
  }
  .limit-chart-canvas-container {
    height: 80%;
  }
  .computer-list-dashboard .card {
    height: 60px;
  }
  .computer-list-dashboard .card-svg {
    height: 35px;
  }
  .computer-list-dashboard .card-title {
    margin-bottom: 0;
  }
  .computer-list-dashboard .card-link {
    height: 100%;
  }
  .computer-list-dashboard .card .card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .computer-list-button-text {
    display: none;
  }
  .computer-list-buttons a {
    padding: 10px 20px;
  }
}
.computer-list-button-text {
  margin-left: 5px;
}
.computer-list-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}
.computer-list-buttons a {
  margin: 2px;
}